scrape_extra.py
merge.py
clean.py
lyrics_data/extra_lyrics.json
lyrics_data/ukraine_lyrics.json
lyrics_data/russia_lyrics.json
lyrics_data/israel_lyrics.json
lyrics_data/syria_lyrics.json
lyrics_data/palestine_lyrics.json